//@color: rgba(242, 242, 242, 1);
@media (min-width: @desktop) {
  .alive-example {
    position: relative;
    background-color: transparent;

    .container {


      .example__block {
        display: flex;
        flex-direction: column;
      }

      .example-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .bc {
          padding-bottom: 116px;

          .wrapper {
            padding-bottom: 30px;
          }

          .example__compare {
            .slider {
              width: 428px;
            }
          }
        }
      }


      .bg {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 175px;
        background-color: @gray;
        z-index: 1;
      }
    }

    .example {
      border: none;
      width: 50%;
      position: relative;
      z-index: 2;
      background-color: transparent;
      padding-bottom: 70px;

      .example__subtitle {
        padding: 0;
      }

      .example__lead {
        width: 100%;
        padding: 145px 161px 35px 0;
      }

      .example__box {
        grid-gap: 0 40px;
        margin: auto;
        padding: 30px 0 10px 0;

        .example__weight p {
          top: 50px;
        }
      }

      .example__weight {
        .example__weight-text {
          background-color: @gray;
        }
      }

      .example__weight--1 {
        justify-content: flex-end;
      }

      .example__weight--2 {
        justify-content: flex-start;
      }

      .example__aside {
        width: 100%;
        display: grid;
        grid-template-columns: 185px 1fr;
        font-size: 20px;
        grid-gap: 0 70px;
        margin: 0;

        span:first-child {
          text-align: right;
        }

        span:last-child {
          text-align: left;
        }
      }
    }

    .example-wrapper .bc {
      width: 50%;
      position: relative;
      z-index: 2;
      padding-bottom: 0;
      align-self: flex-end;


      .ab {
        display: none;
      }
    }
  }
}

/*.example {
    grid-template-columns: 600px 800px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "subtitle bc" "lead bc" "box bc";
    display: grid;

    .example__subtitle {
      grid-area: subtitle;
    }

    .example__lead {
      grid-area: lead;
    }

    .bc {
      grid-area: bc;
    }

    .example__box {
      grid-area: box;
    }

  }

*/
/*
.example__box {
@media (min-width: @desktop) {
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 2fr;
grid-template-areas: "width1 width2""aside aside";
width: 28%;
margin: inherit;
background-color: @color;
padding-top: 0;

.example__weight--1 {
  grid-area: width1;
}

.example__weight--2 {
  grid-area: width2;
}

.example__aside {
  grid-area: aside;
  margin: 0 auto;
  padding-top: 60px;
  white-space: nowrap;
  margin-right: 170px;
  background-color: @color;

  span {
    padding-right: 60px;
    text-align: left;
  }
}
}
}

.example .example__lead {
@media (min-width: @desktop) {
width: 33%;
background-color: @color;
margin-bottom: 0;
padding-bottom: 70px;
}
}

.example__weight p {
@media (min-width: @desktop) {
background-color: @color;
}
}
*/
