@gray: rgba(242, 242, 242, 1);

.offset(@padding; @margin) {
  padding: @padding;
  margin: @margin;
}

.example {
  .offset(20px; 0);
  background-color: @gray;

  .example__subtitle {
    font-size: 36px;
    margin: 0;
  }

  .example__lead {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-right: 5px;
  }
}

.example__aside {
  img {
    width: 100%;
    margin-bottom: 35px;
  }

  h4 {
    font-size: 14px;
    text-align: center;
    padding: 35px 0 42px 0;
  }
}

.example__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  margin: auto;


  .example__weight {
    position: relative;
    border: 1px solid lightgray;
    border-radius: 4%;
    text-align: center;
    padding: 15px;

    h3 {
      font-size: 24px;
      margin: 0;
    }

    p {
      position: absolute;
      top: 35px;
      width: 87px;
      background-color: @gray;
    }
  }
}

.example__compare {
  display: grid;
  grid-template-columns: 1fr 84px 1fr;
  border-radius: 4%;

  div {
    font-size: 16px;
    text-align: center;
  }

  img {
    margin-top: 5px;
    border-radius: 6px;
  }
}
