@gray: rgba(242, 242, 242, 1);
@font: 20px;

.offset(@padding; @margin) {
  padding: @padding;
  margin: @margin;
}

.example {
  background-color: @gray;

  @media (min-width: 768px) {
    background-color: white;
    border-top: 1px solid rgba(230, 230, 230, 1);
    padding-top: 23px;
  }

  .example__subtitle {
    .offset(20px; 0);
    font-size: 36px;
  }

  .example__lead {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-right: 11px;
    padding-left: 20px;

    @media (min-width: 768px) {
      font-size: 16px;
      padding-right: 34px;
      line-height: 24px;
      margin-top: 40px;
      margin-bottom: 34px;
    }
  }
}

.example__box {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0 32px;
  margin: auto;
  grid-template-areas: "weight1 weight2"
    "aside aside";

  .example__aside {
    grid-area: aside;
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 35px;
    }

    h4 {
      font-size: 14px;
      padding: 35px 0 42px 0;
    }
  }


  @media (min-width: 768px) {
    line-height: 37px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "weight1 weight2 aside";
    margin-bottom: 50px;


    .example__weight h3 {
      font-size: 30px;
    }

    .example__aside h4 {
      font-size: 20px;
      width: 184px;
      margin: 0 0 0 auto;
      padding: 0;
      text-align: right;
    }
  }
}

.example__weight {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 4%;
  text-align: center;
  padding: 15px;

  h3 {
    font-size: 24px;
    margin: 0;
  }

  p {
    position: absolute;
    background-color: #f2f2f2;
    width: 100px;
    padding: 0 20px;
    top: 40px;
    left: calc(50% - 50px);
  }
}

@media (min-width: 768px) {
  .example__weight p {
    top: 35px;
    padding: 0;
    width: auto;
    background-color: white;
  }

  .example .example__subtitle {
    font-size: 60px;
  }
}


.example__weight--1 {
  grid-area: weight1;
}

.example__weight--2 {
  grid-area: weight2;
}

.example__compare {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-radius: 4%;
  position: relative;

  .compare--right,
  .compare--left {
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .example__compare {
    position: relative;

    .compare--right {
      text-align: right;
      font-size: @font;
      border-bottom: 1px solid lightgrey;
      margin: 0 20px 0 190px;
    }

    .compare--left {
      text-align: left;
      font-size: @font;
      border-bottom: 1px solid lightgrey;
      margin: 0 184px 0 20px;
    }
  }
}

.wrapper {
  position: relative;
  max-width: 900px;
  height: 675px;
  display: flex;
  margin: 0 auto;

  img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  .first,
  .second {
    width: 50%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .first img {
    float: left;
  }

  .second img {
    float: right;
  }
}

.slider {
  margin: 0;
  max-width: 500px;


  input {
    width: 100%;
  }
}


@media (min-width: 768px) {
  width: 375px;
  height: 607px;
}

.bc {
  position: relative;
  padding-bottom: 70px;

  .ab {
    position: absolute;
    height: 472px;
    background-color: #eaeaea;
    bottom: 0;
    width: 100%
  }
}
