@green: rgba(104, 183, 56, 0.85);

.promo {
  width: 320px;
  text-align: center;
  color: white;

  margin: 0;

  &__container {
    position: relative;
  }

  &__green {
    background-color: @green;
    margin-bottom: 29px;
    width: 320px;
    height: 302px;
  }

  &__title {
    width: 250px;
    margin: 0 auto;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 27px;
  }

  p {
    font-size: 14px;
  }

  &__promo-box {
    width: 280px;
    height: 270px;
  }

  img {
    margin-top: -164px;
  }

  &__description {
    width: 280px;
    height: 40px;
  }

  &__text {
    font-size: 14px;
    text-align: center;
    margin: auto 20px 20px;
    color: white;
    background-color: @green;
    display: block;
    text-decoration: none;
    padding: 13px 13px;
  }
}
