@green: rgba(104, 183, 56, 1);
@color: white;

.promo {
  text-align: center;
  color: white;
  margin: 0;
  position: relative;

  .container {
    padding: 0;
  }

  .promo-foto {
    width: 100%;
    display: block;
  }

  .green-foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-color: #68b738;
    }
  }

  img.tablet {
    display: none;
  }

  img.desktop {
    display: none;
  }

  .promo__green {
    margin-bottom: 29px;
    height: 302px;
  }

  .promo__title {
    margin: 0 auto;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px 20px;

    p {
      font-size: 14px;
    }
  }

  .promo__box {
    img.mobil {
      margin-top: -110px;
      margin-bottom: 0;
    }
  }
}

.promo__aside {
  font-size: 14px;
  text-align: center;
  margin: auto 20px 20px;
  color: white;
  background-color: @green;
  display: block;
  text-decoration: none;
  padding: 10px 0;
}


@media (min-width: 768px) {
  .promo {
    .promo__wrapper {
      background-color: white;
    }

    .promo__green {
      background-color: @color;
    }

    .promo__green p {
      font-size: 20px;
      color: black;
      margin: 40px 0 0 117px;
      text-align: left;
    }


    .promo__title {
      font-size: 60px;
      color: #000000;
      line-height: 60px;
      text-align: left;
      margin: 0 117px;
      padding: 50px 0 0 0;
    }

    .promo__box img.tablet {
      margin: 0 auto;
      /*max-width: 600px;*/
      display: block;
      position: relative;
    }

    img.mobil {
      display: none;
    }

    .promo__aside {
      font-size: 20px;
      top: 355px;
      left: 85px;
      padding: 14px 26px 14px 26px;
      position: absolute;
    }
  }
}


@media (min-width: @desktop) {
  .promo {
    .container {
      margin-bottom: 38px;

      .promo__aside {
        padding: 10px 27px 14px 26px;
        top: 292px;
        left: 99px;
      }
    }

    .promo__box {
      img.desktop {
        display: block;
        z-index: 4;
        position: relative;
        left: -2%;
      }

      img.tablet {
        display: none;
      }
    }

    .promo__green {
      background-color: @color;

      .green-foto {

        left: 50%;
        top: -30%;
        z-index: 1;
        height: 696px;
        opacity: 1;
        width: 720px;
      }
    }

    .promo__wrapper {
      display: flex;
      flex-direction: row;
    }

    .promo__title {
      margin: 0;
    }

    .promo__green p {
      padding-top: 40px;
      margin: 0;
    }
  }
}
