.special {
  .container {
    padding: 0 20px;
  }

  .special__title {
    font-size: 36px;
    margin: 0;
    padding-bottom: 40px;
  }

  .special__item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;

    img {
      padding-bottom: 16px;
    }

    p {
      margin: 0;
      font-size: 14px;
      font-family: "Arial", sans-serif;
      line-height: 18px;
    }

    .number {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .special {
    .special__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-row-gap: 134px;
      grid-column-gap: 154px;
      padding-bottom: 94px;
    }

    .special__title {
      margin: 45px 0 70px 0;
      font-size: 60px;
    }

    .special__item {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      padding-right: 23px;
      font-size: 16px;
      font-family: "Arial", sans-serif;
      position: relative;

      img {
        width: 80px;
        height: 80px;
      }

      p {
        position: relative;
        font-size: 16px;
      }

      .number {
        font-size: 280px;
        line-height: 213px;
        color: #f2f2f2;
        position: absolute;
        display: block;
        top: -46px;
        right: 36px;
        font-family: "Oswald", sans-serif;
      }
    }
  }
}

@media (min-width: @desktop) {
  .special {
    .special__list {
      grid-template-columns: 218px 245px 230px 271px;
      grid-column-gap: 90px;
      padding-bottom: 30px;
    }

    .special__item {
      p {
        padding-right: 0;
      }

      .number {
        right: 20px;
      }
    }
  }
}
