
.contacts__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 28px 14px 28px 19px;
}

.contacts__welcome {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 9px 0 0;
  width: 50%;
  font-weight: 400;
  margin: 0;
}

.contacts address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  font-style: normal;
}

.contacts__map {
  display: flex;

  img {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .contacts__welcome {
    font-size: 20px;
  }

  .contacts address {
    width: auto;
    justify-content: space-between;
    font-size: 16px;
  }
}
