
* {
  box-sizing: border-box;
}


body {
  background-color: white;
  font-family: "Oswald", sans-serif;
  width: 320px;
  margin: 0;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
}

:root {
  --font-size: 12px;
  --font-family: "Arial", sans-serif;
}
