
* {
  box-sizing: border-box;
}


body {
  background-color: white;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  min-width: 320px;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswald-v35-latin_cyrillic-600.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswald-v35-latin_cyrillic-regular.woff2") format("woff2");
  font-weight: normal;
}

:root {
  --font-size: 12px;
  --font-family: "Arial", sans-serif;
}

@desktop: 1440px;

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mini-container {
    max-width: 610px;
    width: 610px;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
    width: 1200px;
  }

  .mini-container {
    max-width: 1200px;
    width: 1200px;
    margin: auto;
  }
}

.btn--green {
  width: 100%;
  text-decoration: none;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}
