@border: 1px solid lightgrey;
@border2: 2px solid lightgrey;

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  padding: 0 20px 0 20px;
  background: rgba(242, 242, 242, 1);

  .footer__title {
    padding: 39px 0 32px 0;
    border-bottom: @border;
    font-size: 24px;
  }

  .footer__social {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    div {
      padding: 30px 37px 30px 37px;
    }
  }


  .footer__name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    font-size: 16px;
    padding: 28px 0 32px 0;
    border-top: @border;

    span {
      font-family: "Arial", sans-serif;
    }
  }
}
