.special {
  margin-left: 20px;

  &__title {
    font-size: 36px;
  }

  &__item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 20px;

    p {
      margin: 0;
      padding: 0 42px 26px 0;
    }
  }
}
