@style: none;
@size: 16px;


.container__list {
  margin: 0;
  width: 320px;
  list-style: @style;
  padding: 0;


  .container__list-lead {
    display: grid;
    border: 0 solid black;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    row-gap: 20px;

    .container__img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container__btn {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      justify-content: center;

    }

    h2 {
      margin: 0;
      font-size: @size;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 14px;
      color: #222222;
    }

    table {
      font-family: "Arial", sans-serif;
      font-size: 12px;
      width: 100%;

      td:first-child {
        text-align: left;
        width: 50%;
      }

      td:last-child {
        text-align: right;
        width: 50%;
      }


    }
  }
}
