.goods {
  .goods__aside {
    display: flex;
    justify-content: center;

    div:first-child {
      font-size: 24px;
      padding: 25px 20px 36px 19px;
    }

    div:last-child {
      border-top: 2px solid #68b738;
      width: 53px;
      margin-top: 40px;
      margin-right: 0;
    }
  }

  .goods__list h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 20px;
    border-top: 1px solid lightgrey;
    padding-top: 13px;
  }

  .goods__list {
    padding: 0 18px 0 20px;


    table {
      width: 100%;
      margin-bottom: 15px;
    }

    table td {
      font-size: 14px;
      font-family: var(--font-family);
      width: 85%;

      td:first-child {
        text-align: left;
      }

      td:last-child {
        text-align: right;
        width: 50%;
      }
    }
  }
}

.box-present {
  margin: 20px 20px 35px 20px;
  border-top: 1px solid lightgrey;
  padding-top: 40px;

  div {
    border: 1px solid lightgrey;
    width: 280px;
    height: 289px;
    color: white;
    background-color: rgba(104, 183, 56, 1);
    text-align: center;
    font-family: "Arial", sans-serif;
    padding: 186px 61px 43px 55px;
    font-size: 16px;
  }
}
