.show {
  text-align: center;

  .show__plus {
    height: 60px;
    width: 60px;
    position: relative;
    margin: auto;
  }

  .show__plus-horizontal {
    border-bottom: @border2;
    height: 50%;
    width: 100%;
    position: absolute;
  }

  .show__plus-vertical {
    border-right: @border2;
    height: 100%;
    width: 50%;
    position: absolute;
  }
}


.show__wrap {

  box-sizing: border-box;
  padding: 25px 20px 25px;
  border-bottom: @border;


  .show__aside {
    p {
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
      padding: 23px 0 8px;
    }

    span {
      font-size: 12px;
      font-family: "Arial", sans-serif;
      color: rgba(68, 68, 68, 1);
    }
  }

  .show__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 8px;

    button {
      color: black;
    }
  }
}
