@text: uppercase;

.options {
  padding-left: 20px;

  .options__aside {
    display: flex;
    align-items: center;

    h2 {
      font-size: 24px;
    }

    .options__list {
      div:nth-child(2) {
        border-top: 2px solid rgba(104, 183, 56, 1);
        margin-top: 8px;
        margin-left: 10px;
        width: 158px;
      }
    }
  }

  .options__list div {
    font-size: 16px;
    text-transform: @text;
    margin: -23px 0 25px 51px;
  }

  .options__dispatch {
    button {
      font-size: 16px;
      text-transform: @text;
      color: white;
      background-color: @green;
      display: block;
      padding: 13px 13px;
      border: none;
      width: 94%;
      margin-right: 20px;
    }

    p {
      margin-bottom: 32px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .options {
    padding: 0;

    .options__aside {
      h2 {
        font-size: 36px;
        margin-bottom: 55px;
      }
    }

    .options__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 120px;

      input {
        width: 40px;
        height: 40px;
      }

      div {
        margin: -35px 0 30px 65px;
      }
    }

    .options__dispatch {
      display: flex;

      button {
        font-size: 20px;
        width: 50%;
        margin: 25px 60px 72px 0;
        padding: 13px 45px 13px 45px;
      }

      p {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: @desktop) {
  .options .options__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
