@text: uppercase;

.options {
  padding-left: 20px;

  .options__aside {
    display: flex;
    align-items: center;

    h2 {
      font-size: 24px;
    }

    .options__list {
      div:nth-child(2) {
        border-top: 2px solid rgba(104, 183, 56, 1);
        margin-top: 8px;
        margin-left: 10px;
        width: 158px;
      }
    }
  }

  .options__list div {
    font-size: 16px;
    text-transform: @text;
    margin: -23px 0 25px 51px;
  }

  .options__dispatch {
    button {
      font-size: 14px;
      text-transform: @text;
      color: white;
      background-color: @green;
      display: block;
      padding: 13px 13px;
      border: none;
      width: 94%;
      margin-right: 20px;
    }

    p {
      padding-top: 21px;
      margin-bottom: 32px;
      text-align: center;
    }
  }
}
