@padding: 20px;

.owner {
  padding: 0 0 0 20px;

  h2 {
    font-size: 24px;
    padding-right: @padding;
    margin-bottom: 35px;
  }

  /*.owner__line-first {
    display: none;
  }*/

  .owner__title {
    .owner__holder {
      display: flex;
      align-items: center;

      .owner__line {
        border-top: 2px solid rgba(104, 183, 56, 1);
        margin-top: -25px;
        flex-grow: 1;
      }
    }
  }

  .owner__contact {
    display: flex;
    font-size: 16px;
    margin-right: 20px;
    white-space: nowrap;
    position: relative;
    padding-bottom: 14px;
    width: 100%;


    .owner__number {
      text-transform: uppercase;
      border: 1px solid lightgrey;
      padding: 10px 10px;
      flex-grow: 1;
      font-size: 16px;
      margin-left: 12px;
      font-family: "Oswald", sans-serif;
      margin-right: 20px;
    }

    .owner__icon {
      position: absolute;
      right: 35px;
      top: 12px;
    }
  }
}

@media (min-width: 768px) {
  .owner {
    .owner__line-first {
      border-top: 2px solid rgba(104, 183, 56, 1);
      width: 30px;
      z-index: 1;
    }

    padding: 0;

    .owner__contact {
      font-size: 20px;
      padding-bottom: 20px;
    }

    .owner__title {
      .owner__wrapper {
        padding-left: 70px;
      }

      .owner__holder {
        h2 {
          font-size: 36px;
          padding-left: 40px;
        }

        .owner__line {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: @desktop) {
  .owner {
    .owner__title {
      .owner__holder {
        .owner__line-first {
          width: 70px;
          margin-top: -45px;
        }

        .owner__line {
          margin-top: -45px;
        }
      }

      .owner__wrapper {
        display: flex;
        margin: 0 110px;
        padding: 0;

        .owner__contact {
          padding-bottom: 14px;
        }

        .owner__contact:first-child {
          margin-right: 60px;
        }
      }


      .owner__holder h2 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 76px;
      }
    }
  }
}
